<% provide(:title, 'about') %>
<!-- MAIN -->
  <main class="pt-3">
    <div class="container">
      <div class="row">

        <!-- POSTS -->
        <div class="col-md-9">

          <!-- Title -->
          <h1>Хто мы?!</h1>
          <!-- Author -->
          <p class=" text-justify">
            Меня зовут Уханов Егор и я являюсь генеральным директором и ведущим разрабоотчиком моей социальной сети - ВТуза
          </p>
            
              <!-- Preview Image -->
            <%= image_tag('Negri.jpg', :alt => "Company", :class => 'img-responsive' ) %>
            <br>
          <!-- Post Content -->
          <p class="text-justify">
            Наша социальная сеть приобладает на рынке более 25 лет. Поток людей, которые посещают нашу социальную сеть, превышает 2 млд в день. Я горжусь тем, что мы имеем на данный момент. Я начал разрабатывать ВТуза совсем в юном возрасте, на тот момент ухлестывал за Машей из соседнего подъезда (но не суть). И именно тогда и зародилась мысль создать что-то иновационное и перспективное, что смогло бы объединить всех людей в одном месте. <strong>ВТУЗА</strong> - это нечто простое и в тоже время гениальное.
          </p>
            <p>
                Познакомимся с нашей <strong>командой разработчиков</strong>:
            </p>

            <p class="text-center fs26"><strong>Жмяхин Валерий</strong></p>
          <p class="text-justify">
            <%= image_tag('negr1.jpg', :alt => "design", :class => 'img-responsive FR' ) %>
              Уникальный стиль страниц, органичный <strong>дизайн</strong> - все это заслуги нашего уважаемого Жмяхина Валерия Альбертовича 1978 года рождения. С малых лет он увлекался дизайном. Красил пол, потолки, стены, вообщем был маляром пока мы его не нашли. Нам сразу он понравился, он умел не просто создавать стильные вещи, а если быть точнее - он их созидал из несозидаемого. 
          </p>
          <p>
              Но самое главное оружие нашего дизайнера - это <strong>харизма</strong>. Даже если работа покажется вам дешевой, то он с легкостью вотрет вам, что это лучшее, когда либо создаваемое человеком изделие. С малых лет его бил отец, говоря, что его дизайн недостаточно хорош, да и нам частенько приходиться прикладывать некоторые усилия, чтобы дизайн получился максимально крутым. Вообщем, если вам нужен крутой и уникальный дизайн, то это безоговорочно к Жмяхину Валерию.
          </p>

            <p class="text-center fs26"><strong>Лязгинов Ашот</strong></p>
            <%= image_tag('negr2.jpg', :alt => "design", :class => 'img-responsive FL' ) %>
          <p>
            Лязгинов Ашот Махнатович - лучший в своем роде. Когда ему было 10 - он взломал республиканский канал БСТ. Им заинтересовался П
            </p>
          <p class="lead">
            Porttitor massa id neque aliquam vestibulum. A scelerisque purus semper eget. Dis parturient montes nascetur ridiculus mus. Adipiscing bibendum est ultricies integer quis. Dui vivamus arcu felis bibendum ut tristique et egestas quis. Quis vel eros donec ac odio tempor orci dapibus ultrices. Vel pharetra vel turpis nunc eget lorem dolor sed viverra. Mattis rhoncus urna neque viverra justo nec ultrices.
          </p>

          <img src="https://res.cloudinary.com/dfog0e294/image/upload/v1547644602/webdev/Blog/about-me-04.png" class="img-fluid float-right"  width="250" alt="About Me">
          <p>
            In vitae turpis massa sed elementum. <a href="#">Convallis a cras semper auctor neque</a>. Laoreet id donec ultrices tincidunt. Ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet. Nunc sed velit dignissim sodales ut eu sem. Amet consectetur adipiscing elit duis tristique sollicitudin nibh sit. Enim eu turpis egestas pretium aenean pharetra magna ac placerat. Elementum nibh tellus molestie nunc non blandit.
            </p>
          <p>
            Varius sit amet mattis vulputate enim nulla aliquet porttitor. A lacus vestibulum sed arcu non odio euismod lacinia. <strong>Consectetur adipiscing elit pellentesque habitant morbi.</strong> Feugiat nisl pretium fusce id velit ut tortor pretium viverra. In hac habitasse platea dictumst quisque. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit. Quis imperdiet massa tincidunt nunc pulvinar.
          </p>

          <p class="lead">
            Thanks for visiting!
          </p>

        </div>
        <!-- /col-md-9 -->

        <!-- ASIDE -->
        <div class="col-md-3 mx-auto mb-3 text-center">
          <div class="blog-sidebar p-2 shadow-sm rounded">
            <!-- About -->
              <h2 class="ColBl"><strong>Обо мне</strong></h2>
            <%= image_tag('Egor.jpg', :alt => "About", :class => 'img-fluid WidthImg' ) %>
            <h4>Уханов Егор</h4>
            <p>
              Простой техник-программист, живущий в хрущевке с тремя детьми, который разработал уникальную социальную сеть, где любой желающий может легко войти, так и выйти
            </p>
          </div>
        </div>
        <!-- /blog-aside -->

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </main>