<h1>ВТуза</h1>

<p>Здаров <%= @user.name %></p>

<p>
  Добро пожаловать в супер-пупер можную соц.сеть ВТуза! Жмяхни по ссылке, чтобы активировать свой аккаунт:
</p>

<%= link_to "Активировать", edit_account_activation_url(@user.activation_token, email: @user.email) %>