<footer class="footer">
    <small>
        The <a href="#">Soc set</a>
        by <a href="#">FreezkoS</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "Наша команда", about_path %></li>
            <li><%= link_to "Контанкты", contact_path %></li>
        </ul>
    </nav>
</footer>